@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: Poppins, sans-serif;
    margin: 0; 
    font-weight: 300;
    line-height: 1.6;
    font-size: 1.2rem;
    font-family: 'poppins', sans-serif;

}

.btn{
    cursor: pointer;
    font-family: inherit;
    outline: none;
    border: none;
}

.title{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.container{
    min-height: 100vh;
}

.meal-wrapper{
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #fff;
    text-align: center;
}

.meal-search{
    margin: 2rem 0;
}
.meal-search cite{
    font-size: 1rem;
}

.meal-searh-box{
    margin: 1.2rem 0;
    display: flex;
    align-items: stretch;
    width: 100%;
}

/* .search-control,
.search-btn{
    width: 100%;
} */

.search-control{
    padding: 1rem;
    width: 90%;
    outline: none;
    border: 1px solid goldenrod;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

.search-btn{
    padding: 1rem;
    width: 10%;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    font-size: 1.4;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    background-color: goldenrod;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
}

.search-btn:hover{
    background-color: gold;
    color: #000000;
}

.search-control::placeholder{
    color: goldenrod;
}

.meal-result{
    margin-top: 4rem;
}

.meal{
    margin: 2.4rem 0 ;
}

.meal-item{
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-boder-radius:1rem;
    -o-boder-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.79);
    margin: 2rem 0;
}

.meal-img img{
    width: 100%;
    display: block;
}
 
.meal-name{
    padding: 1.5rem 0.5rem;
}

.meal-name h3{
    font-size: 1.4rem;
}

.recipe-btn{
    text-decoration: none;
    background-color: goldenrod;
    padding: 0.8rem 2rem;
    margin-top: 2rem 0;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 2rem;
    -webkit-border-radius: 1rem;
    -moz-boder-radius:1rem;
    -o-boder-radius: 1rem;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
}

.recipe-btn:hover{
    background-color: greenyellow;
}

/* Media Queries */
@media screen and (min-width: 600px){
    .meal-search-box{
        width: 540px;
        margin-left:auto;
        margin-right:auto;
    }
}

@media screen and (min-width: 768px){
    .meal{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    .meal-item{
        margin:0;
    }
    .meal-details{
        width: 700px;
    }
}
@media screen and (min-width: 1020px){
    .meal{
        grid-template-columns: repeat(3, 1fr);
    }
    .meal-item{
        margin:0;
    }
}

@media screen and (min-width: 992px){
    .meal{
        grid-template-columns: repeat(3, 1fr);
    }
    .meal-item{
        margin:0;
    }
}

/* meal details */
    .meal-details{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        color: #fff;
        background-color: rgb(90, 80, 25);
        border-radius: 1rem;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
        width: 90%;
        height: 90%;
        overflow-y: scroll;
        display: none;
        padding :2rem; 
    }

    .meal-details::-webkit-scrollbar{
        width: 10px;
    }

    .meal-details::-webkit-scrollbar-thumb{
        background-color: #f0f0f0;
        border-radius: 2rem;
        -webkit-border-radius: 2rem;
        -moz-border-radius: 2rem;
        -ms-border-radius: 2rem;
        -o-border-radius: 2rem;
    }

    /* js related */
    .showRecipe{
        display: block;
    }

    .meal-details-content{
        margin: 2rem;
    }

    .meal-details-content p:not(.recipe-category){
        padding: 1rem 0;
    }
    .recipe-close-btn{
        position: absolute;
        right: 2rem;
        top: 2rem;
        font-size: 1.8rem;
        background-color: rgb(0, 0, 0);
        border-radius: 50%;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0.9;
    }
    .recipe-title{
        letter-spacing: 1px;
        padding-bottom:1rem; 
    }

    .recipe-category{
        background: #fff;
        font-weight: 600;
        color: goldenrod;
         display: inline-block;
         padding: 0.2rem 0.5rem;
         border-radius: 0.3rem;
         -webkit-border-radius: 0.3 rem;
        -moz-border-radius: 0.3 rem;
        -ms-border-radius: 0.3 rem;
        -o-border-radius: 0.3 rem;
    }

    .recipe-instruct{
        padding: 1rem 0;
    }

    .recipe-meal-img img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        margin: 0 auto;
        display: block;
    }
    .recipe-link{
        margin: 1.4rem 0;
    }

    .recipe-link a{
        color: #fff;
        font-size: 1.2rem;
        font-weight: 700;
        transition: all 0.4s linear;
        -webkit-transition: all 0.4s linear;
        -moz-transition: all 0.4s linear;
        -ms-transition: all 0.4s linear;
        -o-transition: all 0.4s linear;
    }

    .recipe-link a:hover{
        opacity: 0.8;
    }